/* Ajuste das imagens das Stacks Conhecidas */
.stack-img {
    max-height: 100px;
    width: 180px;
    object-fit: contain;
    margin: 12px auto 0;
    display: block;
}

/* Ajuste das imagens dos projetos */
.project-img {
    opacity: 0.5;
}

.container {
    padding: 20px;
    border-top: 2px solid #221e1e;
}